!!! HTML
%html
  %head
    %meta{:name => "generator", :content => "nanoc #{Nanoc::VERSION}"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=0.7"}
    %meta{:name => "author", :content => "Oleg Vaskevich"}
    %meta{:name => "description", :content => @item[:description]}
    %meta{:charset => "utf-8"}
    %link{:rel => "dns-prefetch", :href => "//ajax.googleapis.com"}
    %link{:rel => "dns-prefetch", :href => "//fonts.googleapis.com"}
    %link{:rel => "icon", :type => "image/png", :href => "/favicon.ico"}
    %title
      -if @item[:index] == 0
        Oleg Vaskevich
      -else
        = @item[:title]
        \- Oleg Vaskevich
    -# for maintainability, don't inline these scripts or stylesheets, especially since they're used on every page and thus cached
    -# even if Google PageSpeed is suggesting to do so
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "#{all_styles_combined_filename}", :rel => "stylesheet", :type => "text/css"}
    :css
      #email-link-compat {
        display: none;
      }
    %noscript
      :css
        .nav, span.active, #social a {
          visibility: visible !important;
        }
        #email {
          display: none !important;
        }
        #email-link-compat {
          display: block;
        }
    - if @item[:css_partials]
      :css
        #{(@item[:css_partials]).split(',').map(&:strip).map{|c| css_partial_by_name(c)}.join('\n')}

  %body
    %noscript#noscript-warning Please enable JavaScript to better view this website.
    #wrapper
      #sidebar
        #profile{:onclick => "window.location.href = '/';"}
          %img#picture{:src => "#{profile_image_url}", :width => "#{profile_image_size}", :height => "#{profile_image_size}"}
          #name Oleg Vaskevich
        -# set the visibility of these elements in the beginning to avoid flashes
        :javascript
          if (document.cookie.indexOf("hasFaded") >= 0)
            document.writeln("<style>.nav, span.active, #social a {visibility: visible !important;}</style>");
        -# show the other items, sorted by their index attributes
        - @items.reject{|i| i[:index].nil? || i.binary? || item[:extension] != "haml"}.sort_by{|i| i[:index]}.each do |item|
          = link_to_unless_current(item[:title], item.identifier, {:class => "nav"})
        %br
        #social
          %a.sprite-common-twitter{:href => "https://twitter.com/ohleg", :target => "_blank"}
          %a.sprite-common-linkedin{:href => "http://www.linkedin.com/profile/view?id=98400121", :target => "_blank"}
          %a.sprite-common-stackoverflow{:href => "http://stackoverflow.com/users/832776/oleg-vaskevich", :target => "_blank"}
          %a.sprite-common-github{:href => "https://github.com/ovaskevich", :target => "_blank"}
          %a.sprite-common-email#email{:href => "#"}
        -# if the browser doesn't support scripts or animations, we show #email-link-compat
        #email-link-compat email: me@
        %a#email-link
          %span#email-container
        #sidebar-footer
          %a{:href => "http://www.tracemyip.org", :target => "_blank"}
            %img{:src => "http://www.tracemyip.org/tracker/1320/4684NR-IPIB/324472731/18/njsUrl/", :alt => "Visitor Counter", :border => "0"}
      #main
        -if @item[:index] == 0
          %h1.font-effect-anaglyph Welcome!
        -else
          %h1.line.font-effect-shadow-multiple.primarycolor
            =@item[:title]
        = yield
        #main-extender
      #footer
        #footer-content <br />Last updated #{@item.mtime.strftime("%A %B %d, %Y at %I:%M:%S %P, %Z")}<br /><br />
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "#{all_scripts_combined_filename}", :type => "text/javascript"}
    - if @item[:js_partials]
      :javascript
        #{(@item[:js_partials]).split(',').map(&:strip).map{|j| js_partial_by_name(j)}.join('\n')}
